* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 450px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#statusMsg {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.error {
    color: red;
}

.loading {
    color: #2563eb;
}

#stats {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

#resultBox{
  display: none;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #111;
}

.container>div:first-of-type {
    display: flex;
    gap: 10px;
}

#textInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

#searchBtn {
    padding: 10px 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#searchBtn:hover {
    background: #1d4ed8;
}

.container>div:last-of-type {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

#avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #2563eb;
    margin-bottom: 10px;
}

#name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#username {
    color: gray;
    margin-top: 5px;
}

#bio {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

#followers,
#following,
#publicRepo {
    display: inline-block;
    margin: 10px 6px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#profileLink a {
    display: inline-block;
    margin-top: 10px;
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

#profileLink a:hover {
    text-decoration: underline;
}