body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.inputBox {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.filters {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

#taskList {
  margin-top: 20px;
  padding: 0;
}

.task {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}
